* {
	border-radius: 5;
	border: none;
	font-family: JetBrainsMono-Bold, Symbols Nerd Font;
	font-weight: normal;
	font-size: 15px;
	padding: 0px 0px;
	margin: 0px 5px;
}

@define-color bg rgb(50, 50, 70);
@define-color fg #d8dee8;
@define-color gr #545d70;
@define-color red #f7768e;
@define-color green #b9f27c;
@define-color blue #4b4e6f;
@define-color cyan #0db9d7;

window {
  padding: 0px 0px;
}

window#waybar {
	background-color: rgba(30, 30, 30, 0.7);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    margin: 0px 0px;
}

#workspaces button {
	color: @gr;
	background-color: @bg;
	padding: 4px 2px;
	margin: 0px 2px;
}

#workspaces button.active {
	color: @fg;
}
#workspaces button.urgent {
	color: @red;
}


#battery.charging,
#battery.charging.normal,
#battery.charging.warning
{
	color: rgb(167, 243, 14);
}

#battery {
  color: rgb(100, 255, 100);
}

#battery.normal {
	color: white;
}

#battery.warning {
	color: rgb(255, 188, 63);
}

#battery.critical {
	color: rgb(255, 58, 58);
}

#temperature {
	color:rgb(0, 247, 255);
}

#cpu,
#memory {
	color: #ffeea2;
}

#window,
#language
{
	padding: 0 10px;
	margin: 0 2px;
	color: @fg;
	background-color: @bg;
}

#custom-menu {
	background-color: @bg;
	color: @cyan;
	padding: 0px 10px;
	margin: 0px 4px;
}

#custom-sep {
	color: rgba(0, 0, 0, 0.0);
}

#workspaces button:hover,
#custom-menu:hover,
#pulseaudio:hover,
#network:hover {
	background-color: @gr;
}
